<div class="menu">
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav">
            <span class="t1"></span>
            <span class="t1"></span>
            <span class="t1"></span>
        </div>
    </button>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav1" id="navbtn2">
            &x2716;
        </div>
    </button>
</div>
<div class="navigation1" id="nav1">
    <nav class="nav">
        <ul class="list">
            <li class="nevlist {% if request.path == '/home/' %} active {% endif %}"> <a
                    class="{% if request.path == '/home/' %} active {% endif %}" href="{% url 'home' %}"><i
                        class="fa fa-home" style="font-size:20px"></i>&nbsp;Home</a>
            </li>
            <li class="nevlist {% if request.path == '/aboutus/' %} active {% endif %}" style="color: rgb(0, 0, 0);"> <a
                href="{% url 'aboutus' %}"><i class="fa fa-address-card icon"></i>&nbsp; programs</a>
            <ul class="submenu">

                <li class="submenuitem"> <a href="{% url 'engindex' %}">Engineering</a>
                    
                    <ul class=" submenu1">
                        <li class="submenuitem1">AIML</li>
                        <li class="submenuitem1">Computer Engineering</li>
                        <li class="submenuitem1">Civil Engineering</li>
                        <li class="submenuitem1">Electrical Engineering</li>
                        <li class="submenuitem1">E&TC Engineering</li>
                        <li class="submenuitem1">Mechanical Engineering</li>
                        
                    </ul>
                </li>
                <li class="submenuitem">Polytechnic
                    <ul class=" submenu1">

                        <li class="submenuitem1">Mechanical Engineering</li>
                        <li class="submenuitem1">Civil Engineering</li>
                        <li class="submenuitem1">Electrical Engineering</li>
                        <li class="submenuitem1">Computer Engineering</li>
                    </ul>
                </li>
                <li class="submenuitem">Pharmacy
                    <ul class=" submenu1">
                        <li class="submenuitem1">B-Pharmacy</li>
                        <li class="submenuitem1">D-Pharmacy</li>
                    </ul>
                </li>
                <li class="submenuitem">MBA</li>
                
            </ul>

        </li>
            <li class="nevlist {% if request.path == '/aboutus/' %} active {% endif %}" style="color: rgb(0, 0, 0);"> <a
                    href="{% url 'aboutus' %}"><i class="fa fa-address-card icon"></i>&nbsp; About us</a>
                <ul class="submenu">

                    <li class="submenuitem">Establishment And Affiliation</li>
                    <li class="submenuitem">Code of Conduct</li>
                    <li class="submenuitem">Prinsipal's Desk</li>
                    <li class="submenuitem">President's Desk</li>
                    <li class="submenuitem">Reaching College</li>
                    <li class="submenuitem">Awardss and Appreciation</li>
                </ul>

            </li>
            <li class="nevlist {% if request.path == '/admission/' %} active {% endif %}"><a
                    href="{% url 'admission' %}">&nbsp;<i class="fa fa-info icon"> </i>&nbsp;Admission</a>
                <ul class="submenu">
                    <li class="submenuitem">from</li>
                    <li class="submenuitem">
                        <p class="" style="color: black;">Engineering</p>
                        <ul class=" submenu1">
                            <li class="submenuitem1">AIML Engineering</li>
                            <li class="submenuitem1">Computer Engineering</li>

                            <li class="submenuitem1">Civil Engineering</li>
                            <li class="submenuitem1">Electrical Engineering</li>
                            <li class="submenuitem1">E&TC Engineering</li>
                            <li class="submenuitem1">Mechanical Engineering</li>

                        </ul>
                    </li>
                    <li class="submenuitem">Polytechnic
                        <ul class=" submenu1">

                            <li class="submenuitem1">Mechanical Engineering</li>
                            <li class="submenuitem1">Civil Engineering</li>
                            <li class="submenuitem1">Electrical Engineering</li>
                            <li class="submenuitem1">C.S.</li>
                        </ul>
                    </li>
                    <li class="submenuitem">Pharmacy
                        <ul class=" submenu1">
                            <li class="submenuitem1">B-Pharmacy</li>
                            <li class="submenuitem1">D-Pharmacy</li>
                        </ul>
                    </li>
                    <li class="submenuitem">MBA</li>
            </li>
        </ul>
        </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href="">&nbsp;<i
                    class="fa fa-info icon"> </i>&nbsp;facilities</a>
            <ul class="submenu">
                <li class="submenuitem">Girl's Hostel</li>
                <li class="submenuitem">Boy's Hostel</li>
                <li class="submenuitem">Transport</li>
                <li class="submenuitem">library</li>
                <li class="submenuitem">E-library</li>
                <li class="submenuitem">Counselling</li>
                <li class="submenuitem">Internet facilities</li>
            </ul>
        </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href=""><i
                    class="fa fa-child icon"></i>&nbsp; Activity</a>
                   
        </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href="">
            <!-- <i  class="fa-duotone fa-file-chart-column"></i> -->
            <i class="fa fa-file"></i>
            &nbsp; report</a>
                    <ul class="submenu">
                        <li class="submenuitem">NACC</li>
                        <li class="submenuitem">NSS</li>
                        <li class="submenuitem">IQCIE</li>
                        <li class="submenuitem">AICIE</li>
                    </ul>
        </li>
        
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href=""><i
                    class="fa fa-image"></i>&nbsp; gallery</a>
                    <ul class="submenu">
                        <li class="submenuitem">Photo</li>
                        <li class="submenuitem">video</li>
                        
                    </ul>
        </li>
        <li class="nevlist {% if request.path == '/Activity/' %} active {% endif %}"><a href="{% url 'Activity' %}"><i
                    class="fa fa-child icon"></i>&nbsp; contact</a>
        </li>

        </ul>
    </nav>
</div>