<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artificial Intelligence and Machine Learning</title>
    <!-- <link rel="stylesheet" href="{% static 'header.css' %}"> -->
    <link rel="stylesheet" href="{% static 'department.css' %}">
    <style>
        .topic-title {
            font-size: 30px;
        }

        .about-img {
            width: 40%;
        }

        .face_title {
            font-size: 18px;
        }
    </style>
</head>

<body>
    {% include 'header.html' %}
    {%include 'engnav.html' %}
    <div class="a">
        <div>
            <div class="divh1">
                <h2 class="meh2">Artificial Intelligence and Machine Learning Engineering</h2><br>
            </div>
            <div class="MEdiv">
                <span class="span">Course Code:663292110 </span>
                <span class="span">Duration:4 year</span>
                <span class="span">Course Type: Full Time</span>
                <span class="span">Intake:60</span>

            </div>
            <div width="100%" class="meimg">
                <img width="45%" height="" src="{% static 'aiml_img1.jpg' %}">
                <img width="45%" src="{% static 'aiml_img2.jpg' %}">
            </div>
        </div>


        <div class="about-dep-div">
            <h2 class="topic-title">About Department</h2>
            <div class="about-container">
                <div class="about-text">
                    Computer Engineering is a discipline that integrates several fields of Electrical Engineering
                    and
                    E&amp;TC Engineering. The goal of the Department is to prepare students for successful careers
                    in
                    the software and hardware industry that meet the needs of Indian and multinational companies
                    and to excel in higher studies. The Department has experienced and dedicated faculty members
                    with strong commitment to engineering education and professional ethics.
                    <br>
                    <br>
                    <b>Vision:</b> Contributing to the welfare of society through technical and quality education to
                    the
                    rural
                    base students.
                    <br>
                    <br>
                    <b>Mission:</b> The Department vision is to establish the center for excellence in professional
                    development and entrepreneurship development resulting in the enhancement of the rural area.<br>
                    To produce Best Quality Computer Science Professionals by importing quality hands-on
                    experience and value education.<br>
                    To train the students to fulfill Professional and social requirements in the industry.
                </div>
                <br>
                <br>
                <div class="about-img">
                    <img src="{% static 'cs_img2.jpeg' %}" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class="about-dep-div">
            <h2 class="topic-title">HOD Message</h2>
            <div class="about-container" style="gap: 0px;">
                <div style="width:220px;">

                    <img src="{% static 'enghod.jpg' %}" alt="" width="100%">

                </div>
                <div class="about-text" style="">


                    <ul class="hod-info">
                        <li class="hod-info-item">Name:Prof.C. S. Wagh</li><br>

                        <li class="hod-info-item">Education:M.Tech(Information Technology),BE(Computer Engineering)</li>
                        <br>

                        <li class="hod-info-item">Email id:navshodcomp@gmail.com</li><br>

                        <li class="hod-info-item">Contact No:7709092186</li><br>

                    </ul>

                    <b>HOD Message</b><br>

                    The Department of Computer Engineering offers 8 semesters courses with a compulsory 1 Year project
                    in the last year. Students are exposed to the latest software and development tools as per the need
                    of
                    the day. Computer Engineering is the field which deals with analyzing and designing hardware,
                    software,
                    and operating systems for a computer system. The Computer Center is available for internet access to
                    all
                    students of the department. Software for Database Management, Computer Graphics, Low Level
                    Programming, Networking, Internet Applications etc. is used for developing customized applications.
                    To
                    achieve a student centric approach is practiced by all faculty members. All the faculties have good
                    expertise in their respective domains.
                </div>
                <br>
                <br>


            </div>
        </div>
        <h2 class="facultyh2">Faculty Profile</h2>
        <!-- <div class="facultydiv">
            <div class="facultydiv">
                {% for aiml_faculty in aiml_faculties %}
                <div class="facultyspan">
                    <img class="facultyimg" src="{{ aiml_faculty.photo.url }}">
                    <p>
                    <h3>Prof. {{ aiml_faculty.f_name }} {{ aiml_faculty.m_name }} {{ aiml_faculty.l_name }}</h3>
                    <b>Qualifications</b> {{ aiml_faculty.Qualifications }}<br>

                    <b>Experience:</b> {{aiml_faculty.Experience}}<br>

                    <b>Mob. No:</b>{{ aiml_faculty.contact_no }}<br>

                    <b>Email Id:</b> {{ aiml_faculty.Email_Id }}<br>

                    </p>
                </div>
                {% endfor %}
            </div>
        </div> -->
        <div class="table_div">


            <table class="cs_table" border="1">
                <tr class="h_row">
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Qualification</th>
                    <th>Date of Joining</th>
                    <th>Professional Experience</th>
                    <th>Mob. No:</th>
                    <th>Email Id:</th>
                </tr>
                {% for i in aiml_faculties %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.f_name}} {{i.l_name}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.Qualifications }}</td>
                    <td>{{i.DOJ}}</td>
                    <td>{{i.Experience }}</td>
                    <td>{{i.contact_no }}</td>
                    <td>{{i.Email_Id }}</td>

                </tr>
                {% endfor %}

            </table>
        </div>
        <h2 class="topic-title">Academics</h2>
        <div class="face_div">
            <div class="face_sub_div">
                <img src="{% static 'laboratory.png' %}" alt="" class="face_img">
                <h3 class="face_title">Laboratory</h3>
                <a class="dep" href="{% url 'eng_lab_aiml' %}"><button class="button button3">click here to
                        view</button></a>
                </p>
            </div>
            <div class="face_sub_div">
                <img src="{% static 'syllabus.img' %}" alt="" class="face_img">
                <h3 class="face_title">Syllabus</h3>
                <a href="{% url 'eng_aiml_syllabus' %}"> <button class="button button3">click here to view</button></a>
                </p>
            </div>
            <div class="face_sub_div">
                <img src="{% static 'events_activity.jpg' %}" alt="cs_img2" class="face_img">
                <h3 class="face_title">Events and Activities</h3>
                <a class="dep" href="{% url 'eng_aiml_ev' %}"><button class="button button3">click here to
                        view</button></a>
                </p>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>


</body>
<!-- <script type="text/javascript" src="{% static 'header.js' %}"> -->
</script>

</html>