{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmaceuitc</title>
    <style>
        .divh1 {
            background-image: url("{% static 'pharm_background.png' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding: 50px;
            text-align: center;
            font-size: 40px;
            color: rgb(255, 0, 0);
            text-shadow: 2px 2px 2px black;
        }

        .main_div {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            margin: 50px 80px 80px 80px;
            padding: 10px;
            /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        }
        .para{
            margin: 20px;
            padding: 30px;
            text-align: justify;
            background-color: white;
            font-size: 15px;
            
        }
       
    </style>
</head>

<body>

</body>

</html>
{% include 'header.html' %}
{% include 'pharmnav.html' %}
<div style="background-color: rgba(109, 109, 109, 0.67);">
<div class="divh1">
    <h2 class="meh2">Pharmaceuitc</h2><br>
</div>
<div class="main_div">
    <p class="para">
        <b style="color: rgb(1, 33, 107); font-size: 20px;">Pharmaceuitc</b>
        <br>
        <br>
        Pharmaceutics is the study and design of drug formulation for optimum delivery, stability, pharmacokinetics, and
        patient acceptance. Pharmaceutics is the discipline of pharmacy that deals with the process of turning a new
        chemical entity (NCE) into a medication to be used safely and effectively by patients. It is also called the
        science of dosage form design. There are many chemicals with pharmacological properties, but need special
        measures to help them achieve therapeutically relevant amounts at their sites of action. Pharmaceutics helps
        relate the formulation of drugs to their delivery and disposition in the body.
        <br>
        <br>
        Pharmaceutics deals with the formulation of a pure drug substance into a dosage form. Pharmaceutics is the study
        of chemical moieties designed to make them the so called chemical moiety after undergoing clinical trials might
        be formulated into various dosage forms after thoroughly studying the toxic profiles. The preformulation studies
        leads to unit-operations and the chemical moiety is further designed into various compounding products,
        extemporaneous preparations and formulations leading to Novel drug delivery systems such as transdermal patches,
        microspheres, Nano particles, liposomes etc. The stability of products is tested at two levels- Improvers and
        end product. Various microbiological testing for bacterial, virus and fungus are also done. The various
        pharmacokinetic and pharmacodynamic aspects of the dosage form are determined to conclude on the dosage regimen.
        It also includes Drug Regulatory affairs which assures proper manufacturing, packing, sale and distribution of
        the drug through the licensed authority only.
        <br>
        <br>
        Current Scenario: Globally, India ranks third in terms of manufacturing Pharma products by volume. India based
        pharmaceutical companies are not only fulfilling the country's demands, they are also exporting to around 220
        countries. They are exporting high quality, low cost drugs to many countries. Currently, the US is the biggest
        customer and accounts for 22 percent of the Pharmaceutical sector's exports. Pharmaceutical Market is ranked
        14th in the world. By 2015 it is expected to reach top 10 in the world. More importantly, the incremental market
        growth of US$ 14billion over the next decade is likely to be the third largest among all markets. The demand for
        pharmaceutical products in India is significant and is driven by rising middle-class & disposable income,
        increased government & private spending on healthcare infrastructure, increasing medical insurance etc.
        <br>
        <br>
        The Indian pharmaceutical industry is growing at about 8 to 9 percent annually according to "A Brief Report
        Pharmaceutical Industry in India". The Pharmaceutical industry in India meets around 70% of the country's demand
        for bulk drugs, drug intermediates, pharmaceutical formulations, chemicals, tablets, capsules, orals and
        injectables. There are approximately 250 large units and about 8000 Small Scale Units, which form the core of
        the pharmaceutical industry in India (including 5 Central Public Sector Units).
        <br>
        <br>
        Currently, the pharmaceutical industry is also undergoing unprecedented changes. The introduction of product
        patent regime in 2005 has led to the return of pharmaceutical multinationals to India. Rather than copying the
        original preparation of foreign companies and producing generics by means of alternative production procedure,
        the Indian Pharma industry is now focusing on drugs developed in-house, contract research, contract production,
        and particularly in the conduct of clinical trials for western drug market.
        <br>
        <br>
        Currently, the Indian Pharmaceutical Industries are taking much more efforts in research activities to register
        maximum number of Patents. The most important segment in the research activities of any of Pharmaceutical
        Organization is Formulation Development or Novel Drug Delivery System such as Mucoadhesive Drug Delivery System,
        Implants, Floating Drug Delivery System, Liposomes, Parentral Controlled Drug Delivery System, Resealed
        Erythrocytes, Targeted Drug Delivery System, Transdermal Drug Delivery System, Ocular Drug Delivery System,
        Protein and Peptide Drug Delivery System, Probiotics, Aerosols, Microencapsulation and Nanotechnology are
        current research topics in Pharmaceutical Industry.At present there are ample of job opportunities for
        well-educated and skilled Research Scientists in Pharmaceutical Research.


    </p>
</div>
</div>
{% include 'footer.html' %}