<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>civil</title>

    <link rel="stylesheet" href="{% static 'department.css' %}">
    <!-- <style>
        .divh1 {
            background-image: linear-gradient(rgb(247, 74, 74), rgb(247, 190, 190));
            color: white;
            font-size: larger;
        }

        .about-dep-div {
            margin: 10px;
            background-color: rgba(167, 163, 163, 0.488);
            padding: 10px;
            height: max-content;
        }

        .about-img {
            height: 320px;
            width: 300px;
        }

        .topic-title {
            margin-left: 30px;
            margin-bottom: 20px;
            border-bottom: 5px solid red;
        }

        .about-container {
            text-align: justify;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2em;
            justify-content: space-around;
        }

        .about-text {
            width: 50%;
            margin: 0px;

        }

        .about-img {
            border-radius: 10px;
            width: 600px;
            box-shadow: 6px 6px 6px black;
        }

        .hod-info {
            list-style: none;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: .5em;
        }

        .hod-info-item {
            font-weight: 700;

        }

        .meh2 {
            color: white;
        }

        @media screen and (max-width:600px) {
            .about-text {
                width: 90%;
                /* margin: 0px; */

            }
        }
    </style> -->
</head>

<body>
    {%include "header.html"%}
    {% include 'engnav.html' %}
    <div class="a">
        <div>
            <div class="divh1">
                <h2 class="meh2">First Year Engineering</h2><br>
            </div>
            
            <div width="100%" class="meimg">
                <img width="50%" src="{% static 'civil-engineeringimg1.webp' %}">
                <img width="50%" src="{% static 'civil-engineeringimg2.jpg' %}">
            </div>
            <div class="about-dep-div">
                <h2 class="topic-title">About Department</h2>
                <div class="about-container">
                    <div class="about-text">
                        The Allied Science Department has well experienced proficient, enthusiastic, qualified and committed faculty members.
                        The department constitutes Physics, Chemistry, Mathematics & civil sections.
                        The staff members are actively involved in teaching and Staff members regularly attend workshops of National Significance.
                        The department has well equipped spacious laboratories for the practical work in physics, chemistry.
                        Students benefit from having excellent teachers and besides developing expertise in various domains achieve excellent results.
                        Innovative practices in the department:
                        Guardian Faculty Scheme: Class teacher looks after the class as a guardian to solve academic & non academic problems
                        Unit Test examination on the basis of university examination.
                        Remedial classes / Retests for the students lagging behind.
                        Monthly attendance displayed on the notice board.
                        Parents communication through letters sent informing monthly attendance & performance in the unit test.
                        Counselling sessions for needy students.
                        <br>
                        <br>
                        <b>Vision:</b> "To create a collaborative academic environment to foster professional excellence and ethical values"<br>
                        <br>
                        <b>Mission:</b>
                        
                            <br>To develop outstanding professionals with high ethical standards capable of creating and managing global enterprises
                            <br>To foster innovation and research by providing a stimulating learning environment
                            <br>To ensure equitable development of students of all ability levels and backgrounds
                            <br>To be responsive to changes in technology, socio-economic and environmental conditions
                            <br>To foster and maintain mutually beneficial partnerships with alumni and industry
                            
                             <br><b>Objectives</b>
                             <br>To develop infrastructure appropriate for delivering quality education.
                             <br>To develop the overall personality of students who will be innovators and future leaders capable of prospering in their working environment.
                             <br>To inculcate ethical standards and make students aware of their social responsibilities.
                             <br>Promote close interaction among industry, faculty and students to enrich the learning process and enhance career opportunities.
                             <br>Encourage faculty in the continuous professional growth through quality enhancement programs and research and development activities.
                             <br>Foster a healthy work environment which allows for freedom of expression and protection of the rights of all stakeholders through open channels of communication.
                             
                    </div>
                    <br>
                    <br>
                    <div class="about-img">
                        <img src="{% static 'eng_fe_aboutimg.jpg' %}" alt="" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="about-dep-div">
                <h2 class="topic-title">Message of HOD</h2>
                <div class="about-container" style="gap: 0px;">
                    <div style="width:220px;">

                        <img src="{% static 'eng_fe_hod.jpg' %}" alt="" width="100%">

                    </div>
                    <div class="about-text" style="">
                        <ul class="hod-info">
                            <li class="hod-info-item">Name:-Prof.S. S. Raut</li><br>

                            <li class="hod-info-item">Education:M.Sc. (Org. Chemistry)
                            </li><br>
                            <li class="hod-info-item">Designation :: Assistant Professor</li><br>
                            <li class="hod-info-item">Email id:swati13188@gmail.com</li><br>

                            <li class="hod-info-item">Contact No:7558430119</li><br>

                        </ul>

                        <b>HOD Message</b>

                        Civil Engineering has to do with Civilization! With Civilization has developed Civil Engineering
                        and with
                        Civil Engineering has prospered Civilization! It is easily the oldest branch of Engineering.
                        When the first
                        human form thought of taking refuge in a cave, Civil Engineering was borne. Every man-made
                        structure
                        in this world is conceived, designed, constructed and maintained by Civil Engineers. A Civil
                        Engineer is
                        thus Vishwakarmaa of the modern world.<br><br>
                        Civil Engineering Department at NGI has experienced, dynamic and dedicated faculty and
                        state-of-art
                        laboratories. We nurture our students with strong scientific and technical know-how and impart
                        critical
                        thinking skills on which, are founded their careers or higher studies. We endeavor to inculcate
                        in our
                        students, professional attitude, ethical values, creativity, leadership, innovative thinking,
                        effective
                        communication, team work, multidisciplinary approach and social awareness. The Department is
                        committed to fostering a stimulating and intellectual environment in which both faculty and
                        students
                        excel in their professions.
                    </div>
                    <br>
                    <br>

                </div>
            </div>
            <!-- <div>
                <p>
                <h2>Aim of the Course</h2>
                Civil engineering is a professional engineering discipline that deals with the
                design, construction, and maintenance of the physical and naturally built
                environment, including works like roads, bridges, canals, dams, and buildings.
                Civil engineering is the second-oldest engineering discipline after military engineering.
                </p>
            </div>
            <div width="100%" class="meimg">
                <img width="50%" src="{% static 'civil-engineeringimg1.webp' %}">
                <img width="50%" src="{% static 'civil-engineeringimg2.jpg' %}">
            </div>
            <div class="hod">
                <h2>HOD'S Message</h2>
                <figure>
                    <img width="150px"
                        src="http://www.navsahyadri.edu.in/assets/images/facultyprofile/Pankaj-Bhokare.jpg">
                    <figcaption><b>HOD NAME</b>
                        Head Of CIVIL Department
                    </figcaption>
                    <p class="p1">Ever science the establishment of this institution our primary goal has been to impart
                        and
                        train our future leaders with best of education.

                        Our objective is to disseminate knowledge through various forms such as class room training,
                        industrial
                        visit and organise a attractive curriculum for the all ground development of our students.

                        Mechanical engineering is the basic branch of all engineering that why it is known as MOTHER OF
                        ENGINEERING as it add-ons state of art technically and exhilarates solution.

                        Here at NAVSAYADRI education society we attempt to provide cheerful, productive and satisfying
                        experience at all level to explore the amazing world mechanical engineering.

                        With best wishes for a bright future.

                    </p>
            </div> -->
            <h2 class="facultyh2">Faculty Profile</h2>
            <div class="facultydiv">
                {% for civil_faculty in civil_faculties %}
                <div class="facultyspan">
                    <img class="facultyimg" src="{{civil_faculty.photo.url}}">
                    <p>
                    <h3>Prof. {{ civil_faculty.f_name }} {{civil_faculty.m_name}} {{civil_faculty.l_name}}</h3>
                    <b>Qualifications</b> {{ civil_faculty.Qualifications }}<br>

                    <b>Experience:</b> {{ civil_faculty.Experience }}<br>

                    <b>Mob. No:</b> {{civil_faculty.contact_no }}<br>

                    <b>Email Id:</b> {{ civil_faculty.Email_Id }}<br>
                    </p>
                </div>

                {% endfor %}
            </div>
            <h2 class="topic-title">Academics</h2>
            <div class="face_div">
                <div class="face_sub_div">
                    <img src="{% static 'cs_img2.jpeg' %}" alt="" class="face_img">
                    <h3 class="face_title">Laboratory</h3>
                    <a class="dep" href="{% url 'eng_lab_civil' %}"><button class="button button3">click here to
                            view</button></a>
                    </p>
                </div>
                <div class="face_sub_div">
                    <img src="{% static 'cs_img2.jpeg' %}" alt="" class="face_img">
                    <h3 class="face_title">Syllabus</h3>
                    <a href="{% url 'eng_syllabus'%}"> <button class="button button3">click here to view</button></a>
                    </p>
                </div>
                <div class="face_sub_div">
                    <img src="{% static 'cs_img3.jpeg' %}" alt="" class="face_img">
                    <a class="dep" href="{% url 'Electrical' %}"><button class="button button3">click here to
                            view</button></a>
                    </p>
                </div>
            </div>
        </div>
        {%include 'footer.html'%}
    </div>


</body>


</html>