<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTC Engineering</title>
    <!-- <link rel="stylesheet" href="{% static 'header.css' %}"> -->
    <link rel="stylesheet" href="{% static 'department.css' %}">
    <style>
        .about-img{
            height: max-content;
        }
     
    </style>
</head>
{%include 'header.html'%}
{% include 'engnav.html' %}

<div class="a">
    <div>
        <div class="divh1">
            <h2 class="meh2">E&TC Engineering</h2><br>
        </div>
        <div class="MEdiv">

            <span class="span">Course Code:663237210</span>
            <span class="span">Duration:4 year</span>
            <span class="span">Course Type: Full Time</span>
            <span class="span">Intake: 60</span>
        </div>
        <div width="100%" class="meimg">
            <img width="45%" src="{% static 'IMG_6205.JPG' %}">
            <img width="45%" src="{% static 'IMG_6209.JPG' %}">
        </div>
        <div class="about-dep-div">
            <h2 class="topic-title">About Department</h2>
            <div class="about-container">
                <div class="about-text">
                    A warm welcome from the Department of Electronics and Tele-communication Engineering at Navsahyadri
                    Group of Institutions Faculty of Engineering, Naigaon, Pune. The Department offers a regular
                    four-year B.E program in “Electronics and Telecommunication Engineering”.
                    The department has excellent infrastructure and resources in the form of modern equipment's. The
                    Department presently has highly qualified and supporting staff. The team is working hard
                    continuously to progress the quality of engineering education provided to the students. The
                    activities of the Department are conducted, besides teaching, in the areas of research, consulting,
                    training, alumni and Training, and Placement. Several workshops are provided with well-trained
                    supervisors for soft skill development. By considering the needs of industry and research
                    organizations, the department has advanced laboratories with high-end equipment.The core values of
                    the department help the students to develop their overall personality and make them stand
                    confidently in the global competitive technological environment.

                    <br>
                    <br>
                    <b>Vision:</b>The institute vision is to establish the center for excellence in professional
                    development and entrepreneurship development resulting into the enhancement of ruler area. The
                    institute also vision for developing professional and citizen / citizenship to foster professional
                    and ruler development.
                    <br>
                    <br>
                    <b>Mission:</b> Mission NESGI offers skill best program, graduate and post-graduate programs in
                    Engineering and management to build competent manpower to suit the ever-changing requirement in
                    industries and business by supporting students for continual development through excellence,
                    technology based instruction and overall development of personality in all domains. The institute
                    provides industry based education and practical training to the ruler base.
                    <br><b>Quality polic</b><br>
                    NESGI provides the Future achievers / performers the right amount of knowledge skill and attitude
                    for the purpose of business and life in general by creating academic excellence in the field of
                    management and Engineering.
                    The balance approach has been continue improving the quality in every aspect of student and the
                    involvement of various stakeholder, parents, Industries staff and Management.

                </div>
                <br>
                <br>
                <div class="about-img">
                    <img src="{% static 'IMG_6185.JPG' %}" alt="" width="100%" >
                </div>
            </div>
        </div>
        <div class="about-dep-div">
            <h2 class="topic-title">HOD Message</h2>
            <div class="about-container" style="gap: 0px;">
                <div style="width:220px;">

                    <img src="{% static 'profile1.png' %}" alt="" width="100%">

                </div>
                <div class="about-text">


                    <ul class="hod-info">
                        <li class="hod-info-item">Name::  Prof. V. B. Jagdale </li><br>

                        <li class="hod-info-item">Education:M. Tech. VLSI</li>
                        <br>
                        <li class="hod-info-item">Designation: HOD-E&TC, CEO, NESGI-FOE</li>
                        <br>

                        <li class="hod-info-item">Email id: vinod.jagdale.2008@gmail.com</li><br>

                        <li class="hod-info-item">Contact No: : 9975157884</li><br>

                    </ul>

                    <b>HOD Message</b><br>
                    I welcome you all to the Department of Electronics & Telecommunication Engineering having Intake-35. The department has highly qualified & well experienced 05 faculty members and 02 non- teaching staff. 
                    <br>Department has smart classrooms, well equipped laboratories, library and excellent computational facilities. Department has well-established library other than central library for easy and fast access of books, data sheets, project reports, etc. Department has Advanced software’s like MATLAB, Simulink, Multisim, Xilinx, Microwind, Proteus etc. are available in the department. The department also encourages the use of open source software such as eclipse, Visual Studio, Dev, Code blocks, SPJ, MySQL, etc. to work on advanced projects in various areas of Electronics & Telecommunication Engineering. 
                   <br>  For overall development of the students, Industry Expert talk from well-known persons in the field is arranged; Industrial Tours, Technical Workshops, Soft Skill training programs are arranged on regular basis.
                    </div>
                <br>
                <br>

            </div>
        </div>
        
        <h2 class="topic-title">Faculty Profile</h2>
        <!-- <div class="facultydiv">
            {% for entc_faculty in entc_faculties %}
            <div class="facultyspan">
                <img class="facultyimg" src="{{entc_faculty.photo.url}}">
                <p>
                <h3>Prof. {{ entc_faculty.f_name }} {{entc_faculty.m_name}} {{entc_faculty.l_name}}</h3>
                <b>Qualifications</b> {{ entc_faculty.Qualifications }}<br>

                <b>Experience:</b> {{ entc_faculty.Experience }}<br>

                <b>Mob. No:</b> {{entc_faculty.contact_no }}<br>

                <b>Email Id:</b> {{ entc_faculty.Email_Id }}<br>
                </p>
            </div>
            {% endfor %}
        </div> -->
        <div class="table_div">
           
        
                <table class="cs_table" border="1">
                    <tr class="h_row">
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Qualification</th>
                        <th>Date of Joining</th>
                        <th>Professional Experience</th>
                        <th>Mob. No:</th>
                        <th>Email Id:</th>
                    </tr>
                    {% for i in entc_faculties %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.f_name}} {{i.l_name}}</td>
                        <td>{{i.designation}}</td>
                        <td>{{i.Qualifications }}</td>
                        <td>{{i.DOJ}}</td>
                        <td>{{i.Experience }}</td>
                        <td>{{i.contact_no }}</td>
                        <td>{{i.Email_Id }}</td>
                        
                    </tr>
                    {% endfor %}
                   
                </table>
        </div>
    </div>
    <h2 class="topic-title">Academics</h2>
    <div class="face_div">
        <div class="face_sub_div">
            <img src="{% static 'laboratory.png' %}" alt="" class="face_img">
            <h3 class="face_title">Laboratory</h3>
            <a class="dep" href="{% url 'eng_lab_entc' %}"><button class="button button3">click here to
                    view</button></a>
            </p>
        </div>
        <div class="face_sub_div">
            <img src="{% static 'syllabus.img' %}" alt="" class="face_img">
            <h3 class="face_title">Syllabus</h3>
            <a href="{% url 'eng_entc_syllabus'%}"> <button class="button button3">click here to view</button></a></p>
        </div>
        <div class="face_sub_div">
            <img src="{% static 'events_activity.jpg' %}" alt="" class="face_img">
            <h3 class="face_title">Events and Activities</h3>
            <a class="dep" href="{% url 'eng_entc_ev' %}"><button class="button button3">click here to view</button></a>
            </p>
        </div>
    </div>

    {% include 'footer.html'%}
</div>

</body>


</html>