{%load static%}
{% include 'header.html' %}
{% include 'mainnav.html' %}
<style>
    .notice-div{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .notice-subdiv{
        width: 500px;
        /* border: 1px solid black; */
        height: 400px;
        padding: 20px;
        overflow: hidden;
        background-color: rgba(196, 193, 193, 0.176);
    }
    .wc-title{
        margin: 10px 40px 10px 10px;
        border-bottom: 4px solid rgb(243, 45, 45);
        width: max-content;
        font-size: 1.35rem;
    }
    .notice-title{
        border-bottom: 3px solid rgb(249, 94, 94);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
    }
    .notice-mar{
        width: 100%;
        height: 100%;
        
    }
    .note-list{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 1em;
        list-style: none;
    
    }
    .note{
        padding: 3px;
        border-left:10px solid rgb(40, 64, 252) ;
        height: 50px;
        margin: 5px;
        background-color: rgb(234, 158, 158);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 2px 2px 5px black;
        /* border-radius: 10px; */
    }
    .note:hover{
        background-color: rgb(252, 53, 53);
    }
</style>
<div class="slidermain">

    <img src="{% static 'college.jpg' %}" class="colimg">
    <h2 class="text">
        “It's not about perfect.<br>&nbsp; It's about effort.”
    </h2>
    <div class="form-button">Highlights
        <div class="inner">
            <div class="list-div">
                <ul class="hlist">
                    <li>Campus spread over 18 acres of land in eco-friendly.</li>
                    <li>Campus floor area more than 3.5 lacs sq.ft</li>
                    <li>670 sq.ft. floor area for each laboratory </li>
                    <li>Robotics Club </li>
                    <li>Bus facility from all routes </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <div class="welcom-div">
        <h1 class="wc-title">Welcome to Navsahyadri Group Of Institution</h1>
       <p>

       </p>
    </div>
    <div class="notice-div">
        <div class="notice-subdiv">
            <h3 class="notice-title">
                Notice
            </h3>
            <marquee behavior="1" direction="up" class="notice-mar">
                <ul class="note-list">
                    <li class="note">vaibhav bagekari</li>
                    <li class="note">vaibhav bagekari</li>
                    <li class="note">vaibhav bagekari</li>
                    <li class="note">vaibhav bagekari</li>
                </ul>
            </marquee>
        </div>
        <div class="notice-subdiv">
             <h3 class="notice-title">
                Event
             </h3>
            <marquee behavior="2" direction="up" class="notice-mar">
                <ul class="note-list">
                    <li class="note">vaibhav bagekari</li>
                    <li class="note">vaibhav bagekari</li>
                    <li class="note">vaibhav bagekari</li>
                </ul>
            </marquee>
        </div>
    </div>
<!-- <marquee class="marquee">welcome to Navsahyadri Group Of Institute, Pune</marquee> -->
<div class="formdiv">
    <div class="form-contaner">
        <div class="table3">
            <form action="header.html" method="POST" height="100%">
                <table class="table2">
                    <center>
                        <tr>
                            <th>
                                <h2 class="tableh">
                                    <font color="black"> &#9990; &nbsp; &nbsp; CONTACT US &nbsp; &nbsp;&#9990;
                                    </font>
                                </h2>
                            </th>
                        </tr>
                        <tr>

                            <th><input type="text" name="name" placeholder="Name" class="form-input"></th>
                        </tr>
                        <tr>
                            <th><input type="email" name="email" placeholder="Email" class="form-input"></th>
                        </tr>
                        <tr>

                            <th><input type="text" name="number" placeholder="Contact Number" maxlength="10"
                                    class="form-input">
                            </th>
                        </tr>

                        <tr>

                            <th>
                                <select class="sel" name="faculty">
                                    <option>---select faculty---</option>
                                    <optgroup label="Engineering" class="opgroup">
                                        <option class="op" value="civil Engineering">1.civil Engineering</option>
                                        <option class="op" value="Computer Engineering">2.Computer Engineering
                                        </option>
                                        <option class="op" value="Mechanical Engineering">3.Mechanical Engineering
                                        </option>
                                        <option class="op" value="Electronics and Telicomunication(E&TC)">
                                            4.Electronics and
                                            Telicomunication(E&TC)</option>
                                        <option class="op" value="AI & ML Engineering">5.AI & ML Engineering
                                        </option>
                                    </optgroup>
                                    <optgroup label="barnches of polytechnic" class="opgroup">
                                        <option class="op" value="p.Machanical Engineering">1.Machanical Engineering
                                        </option>
                                        <option class="op" value="p.Electrical Engineering">2.Electrical Engineering
                                        </option>
                                        <option class="op" value="p.Civil Engineering">3.Civil Engineering</option>
                                        <option class="op" value="p.Computer Engineering">4.Computer Engineering
                                        </option>
                                    <optgroup label="Courses of Pharmacy" class="opgroup">
                                        <option class="op" value="B pharmacy">1.B pharmacy</option>
                                        <option class="op" value="D pharmacy">2.D pharmacy</option>
                                    </optgroup>
                                    <optgroup label="Other Institute" class="opgroup">
                                        <option class="op" value="MBA">1.MBA</option>
                                        <option class="op" value="Navsahyadri Gurukul">2.Navsahyadri Gurukul
                                        </option>
                                        <option class="op" value="Navsahyadri Jr. college ">3.Navsahyadri Jr.
                                            college
                                        </option>
                                    </optgroup>

                                </select>
                            </th>
                        </tr>
                        <tr>

                            <th><select class="sel" name="gender">
                                    <option value="nun">---select gender ---</option>
                                    <option value="male">male</option>
                                    <option value="female">female</option>
                                    <option value="female">other</option>
                                </select>
                            </th>
                            <!-- <th><input type="radio" name="gender">male &nbsp; &nbsp; &nbsp;<input type="radio" name="gender">
                    female</th> -->
                        </tr>

                        <tr>
                            <th><input type="submit" name="submit" value="submit" class="submit" title="submit">
                            </th>
                        </tr>
                    </center>
                </table>
            </form>
        </div>
        <div class="dis-contener">
            <h3 class="form-colname">Welcome to Navsahyadri Group Of Institution</h3>
            <img src="{% static 'col-logo.png' %}" alt="" class="college-logo-img">
            <div width="100%" class="media-div">
                <span><img src="{% static 'facebook1.png' %}" alt="" width="41px"></span>
                <span><img src="{% static 'instagram1.png' %}" alt="" width="30px"></span>
                <span><img src="{% static 'twitter.png' %}" alt="" width="25px"></span>
                <span><img src="{% static 'linkedin.png' %}" alt="" width="25px"></span>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="subbox c1">
        <h1 class="subtext">Polytechnic</h1><br /><br />
        <h2 class="subtext">200+</h2>
    </div>
    <div class="subbox c2">
        <h1 class="subtext">Engineering</h1><br /><br />
        <h2 class="subtext">200+</h2>
    </div>
    <div class="subbox c3">
        <h1 class="subtext">MBA</h1><br /><br />
        <h2 class="subtext">200+</h2>
    </div>
    <div class="subbox c4">
        <h1 class="subtext">Pharmacy</h1><br /><br />
        <h2 class="subtext">200+</h2>
    </div>
</div>
{%include "footer.html"%}
</body>




</html>