{% load static %}
<div class="menu" style="width: 100%; background-color: brown;">
    <div class="menu_top" style="width: 100%; position:fixed; top:0px; height:40px;  background-color: brown; "></div>
    <button class="b1" id="navbtn" onclick="droupdown()">

        <div class="snav">
            <span class="t1"></span>
            <span class="t1"></span>
            <span class="t1"></span>
        </div>
    </button>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav1" id="navbtn2">
            &#x2715;
        </div>
    </button>
</div>
<ul class="container-subnav">

    <li class="subnav"><a href="{% url 'aicte' %}" style="color: rgb(255, 60, 60);">AICTE approvals</a></li>
    <a href="{% url 'mandatory_disclosure' %}" style="color: rgb(255, 60, 60);">
        <li class="subnav">Mandatory Disclosure</li>
    </a>
    <a href="{% url 'sppu_approvals'%}" style="color: rgb(255, 60, 60);">
        <li class="subnav">SPPU Affiliation</li>
    </a>
    <li class="subnav"><a href="{% url 'committees' %}" style="color: rgb(255, 60, 60);">
            Committees</a></li>

</ul>
<div class="navigation1" id="nav1">
    <nav class="nav">
        <ul class="list">
            <a style="height: 100%;" class="{% if request.path == '/home/' %} active {% endif %}"
                href="{% url 'home' %}">
                <li class="nevlist {% if request.path == '/home/' %} active {% endif %}">Home
                </li>
            </a>
            <li class="nevlist"  >institutes <b
                        style="font-weight: 700;">&#8628;</b>
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mbaindex' %}">College of MBA <b
                        style="font-weight: 700;">&#8628;</b></a>
                <ul class=" submenu1">

                  <a href="{% url 'mba_mba' %}"> <li class="submenuitem1">MBA</li></a>
                   <a href="{% url 'mbapp' %}"> <li class="submenuitem1">MBA++</li></a>
                    <a href="{% url 'mca' %}"><li class="submenuitem1">MCA</li></a>
                </ul>
            </li>

                    <li class="submenuitem"> <a href="{% url 'engindex' %}" target="_blank">
                        College of Engineering <b
                                style="font-weight: 700;">&#8628;</b></a>

                        <ul class=" submenu1">
                            <li class="submenuitem1"><a href="{% url 'url2' 'AIML.html' %}"> AIML</a></li>
                            <li class="submenuitem1"><a href="{% url 'url2' 'CS.html' %}">Computer Engineering</a></li>
                            <li class="submenuitem1"><a href="{% url 'url2' 'Civil_Engineering.html' %}">Civil
                                    Engineering</a></li>
                            <li class="submenuitem1"><a href="{% url 'url2' 'Electrical.html' %}"> Electrical
                                    Engineering</a></li>
                            <li class="submenuitem1"><a href="{% url 'url2' 'ENTC.html' %}">E&TC Engineering</a></li>
                            <li class="submenuitem1"><a href="{% url 'url2' 'mechanical.html' %}">Mechanical
                                    Engineering</a></li>

                        </ul>
                    </li>
                    <li class="submenuitem"><a href="{% url 'pharmindex' %}">College of Pharmacy <b
                        style="font-weight: 700;">&#8628;</b></a>
                <ul class=" submenu1">
                    <a href="{% url 'd_pharm' %}">
                        <li class="submenuitem1">D-Pharmacy</li>
                    </a>
                    <a href="{% url 'b_pharm'%}">
                        <li class="submenuitem1">B-Pharmacy</li>
                    </a>
                    <a href="{% url 'm_pharm' %}">
                        <li class="submenuitem1">M-Pharmacy</li>
                    </a>
                </ul>
            </li>
                    <li class="submenuitem"><a href="{% url 'polyindex' %}">College of Polytechnic <b
                                style="font-weight: 700;">&#8628;</b></a>
                        <ul class=" submenu1">

                            <li class="submenuitem1">Mechanical Engineering</li>
                            <li class="submenuitem1">Civil Engineering</li>
                            <li class="submenuitem1">Electrical Engineering</li>
                            <li class="submenuitem1">Computer Engineering</li>
                        </ul>
                    </li>
                    
                    

                </ul>

            </li>
            <li class="nevlist" >  About us <b style="font-weight: 700;">&#8628;</b>
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'about_nesgi' %}"> About NGI</a></li>
                    <li class="submenuitem"><a href="{% url 'vision-mission' %}"> vision-mission</a></li>
                    <li class="submenuitem"><a href="{% url 'director_Desk' %}"> Director's Desk</a></li>
                    <li class="submenuitem"><a href="{% url 'president_desk' %}">President's Desk</a></li>
                    <!-- <li class="submenuitem"><a href="{% url 'reaching' %}"> Reaching College</a></li> -->
                    <li class="submenuitem"><a href="{% url 'awardss' %}"> Awardss and Appreciation</a></li>
                </ul>

            </li>
            <li class="nevlist"> Governance <b
                        style="font-weight: 700;">&#8628;</b>
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'establishment' %}">Establishment And Affiliation</a></li>
                    <li class="submenuitem"><a href="{% url 'coc' %}"> Code of Conduct</a></li>
                    <li class="submenuitem"><a href="{% static 'governing_body.pdf' %}">Governing Body</a></li>
                    <li class="submenuitem"><a href="{% url 'mandatory_disclosure'%}">Mandatory Disclosure</a></li>

                </ul>

            </li>

            <li class="nevlist">Admission <b style="font-weight: 700;">&#8628;</b>
                <ul class="submenu">
                   
                    <li class="submenuitem">
                        <p class="" style="color: black;"><a href="{% url 'engadmission' %}"> Engineering</a></p>

                    </li>
                    <li class="submenuitem"><a href="{% url 'polyadmission' %}">Polytechnic</a>

                    </li>
                    <li class="submenuitem"><a href="{% url 'pharmadmission' %}">Pharmacy </a>

                    </li>
                    <li class="submenuitem"><a href="{% url 'mbaadmission' %}">MBA</a>

                    </li>
            </li>
        </ul>
        </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href="{% url 'main_placement'%}">Placements</a>

    </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href="">facilities <b
                    style="font-weight: 700;">&#8628;</b></a>
            <ul class="submenu">
               
                <li class="submenuitem"><a href="{% url 'hostel' %}">Hostel</a></li>
                <li class="submenuitem"><a href="{% url 'tronsport' %}">Transport</a></li>
                <li class="submenuitem"><a href="{% url 'e_library' %}">library & E-library</a></li>
                {% comment %} <li class="submenuitem"><a href="{% url 'e_library' %}">E-library</a></li> {% endcomment %}
                <li class="submenuitem"><a href="{% url 'counselling' %}">Counselling</a></li>
                <li class="submenuitem"><a href="{% url 'internet_facilities' %}">Internet facilities</a></li>
            </ul>
        </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href="{% url 'mainactivity'%}">
                Activities</a>

        </li>
        <li class="nevlist {% if request.path == '//' %} active {% endif %}"><a href="">
                <!-- <i  class="fa-duotone fa-file-chart-column"></i> -->
                report <b style="font-weight: 700;">&#8628;</b></a>
            <ul class="submenu">
                <a href="{% static 'NAAC-Certificate.pdf' %}" target="_blank">
                    <li class="submenuitem">NACC</li>
                </a>
                <li class="submenuitem">NSS</li>
                <li class="submenuitem">IQAC</li>
                <a href="{%url 'aicteindex'%}">
                    <li class="submenuitem">AICTE</li>
                </a>
            </ul>
        </li>

        <li class="nevlist"><a href="{% url 'gallery' %}">
                gallery <b style="font-weight: 700;"></b></a>
            <!-- <ul class="submenu">
               <a href="{% url 'gallery'%}"> <li class="submenuitem">Photo</li></a>
               <a href="{% url 'gallery'%}"><li class="submenuitem">video</li></a>

            </ul> -->
        </li>
        <li class="nevlist {% if request.path == '/Activity/' %} active {% endif %}"><a href="{% url 'contact' %}">
                contact</a>
        </li>

        </ul>
    </nav>

</div>