{% load static %}
<div class="menu">
    <div class="menu_top" style="width: 100%; position:fixed; top:0px; height:30px;  background-color: brown; "></div>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav">
            <span class="t1"></span>
            <span class="t1"></span>
            <span class="t1"></span>
        </div>
    </button>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav1" id="navbtn2">
            &#x2716;
        </div>
    </button>
</div>
<ul class="container-subnav">

    <li class="subnav"><a href="{% url 'aicte' %}" style="color: rgb(255, 60, 60);">AICTE approvals</a></li>
    <a href="{% url 'mandatory_disclosure' %}" style="color: rgb(255, 60, 60);">
        <li class="subnav">Mandatory Disclosure</li>
    </a>
    <a href="{% url 'sppu_approvals'%}" style="color: rgb(255, 60, 60);">
        <li class="subnav">SPPU Affiliation</li>
    </a>
    <li class="subnav"><a href="{% url 'committees' %}" style="color: rgb(255, 60, 60);">
            Committees</a></li>

</ul>
<div class="navigation1" id="nav1">
    <nav class="nav">
        <ul class="list">
            <li class="nevlist {% if request.path == '/mbaindex/' %} active {% endif %}"> <a
                    class="{% if request.path == '/mbaindex/' %} active {% endif %}" href="{% url 'mbaindex' %}"><i
                        class="fa fa-home" style="font-size:20px"></i>&nbsp;Home</a>
            </li>
            <li class="nevlist">
                Abaut Us
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_about_ngi' %}"> About NGI</a></li>
                    <li class="submenuitem"><a href="">Why NGI for MBA / MBA++/MCA</a></li>
                    <li class="submenuitem"><a href="">Director’s Desk</a></li>
                </ul>
            </li>
            <li class="nevlist">
                programmers
                <ul class="submenu">
                    <li class="submenuitem"><a href="">MBA</a></li>
                    <li class="submenuitem"><a href="">MBA++</a></li>
                    <li class="submenuitem"><a href="">MCA</a></li>
                </ul>

            </li>

            </li>

            <li class="nevlist {% if request.path == '/elibrary/' %} active {% endif %}"><a
                    class="{% if request.path == '/elibrary/' %} active {% endif %}"
                    href="{% url 'elibrary' %}">Faculty</a>
            </li>
            <li class="nevlist {% if request.path == '/admission/' %} active {% endif %}">Training @ NGI
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_training' %}">Training Framework
                    </a></li>
                    <li class="submenuitem"><a href="">Internships</a></li>
                    <li class="submenuitem"><a href="">Certification</a></li>
                    <li class="submenuitem"><a href="">Academic Excellence
                    </a></li>
                </ul>

            </li>
            <li class="nevlist {% if request.path == '/mba_placement/' %} active {% endif %}"
                style="color: rgb(0, 0, 0);">
                Placement
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_placement' %}">Recruters</a></li>
                </ul>
            </li>

           
            <li class="nevlist {% if request.path == '/Activity/' %} active {% endif %}">
                    student LIFE
                    <ul class="submenu">
                        <li class="submenuitem"><a href="{% url 'mba_Infrastucture' %}">Infrastructure</a></li>
                        <li class="submenuitem"><a href="">Sports Activity</a></li>
                        <li class="submenuitem"><a href="">Committee</a></li>
                    </UL>

            </li>
            <li class="nevlist "><a href="{% url 'mba_contact' %}"
                    class="link {% if request.path == '/nss/' %} active {% endif %}">Contact</a></li>
        </ul>
    </nav>
</div>