{% load static %}
<style>
    .navigation1 {
        background-color: rgb(86, 25, 178);
        background-image: linear-gradient(rgb(74, 17, 148), rgb(149, 98, 238));
    }
</style>
<div class="menu">
    <div class="menu_top" style="width: 100%; position:fixed; top:0px; height:40px;  background-color: rgb(109, 0, 187); "></div>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav">
            <span class="t1"></span>
            <span class="t1"></span>
            <span class="t1"></span>
        </div>
    </button>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav1" id="navbtn2">
            &#x2716;
        </div>
    </button>
</div>
<ul class="container-subnav">

    <li class="subnav"><a href="{% url 'aicte' %}" style="color: rgb(86, 25, 178);">AICTE approvals</a></li>
    <a href="{% url 'mandatory_disclosure' %}" style="color: rgb(86, 25, 178);">
        <li class="subnav">Mandatory Disclosure</li>
    </a>
    <a href="{% url 'sppu_approvals'%}" style="color: rgb(86, 25, 178);">
        <li class="subnav">SPPU Affiliation</li>
    </a>
    <li class="subnav"><a href="{% url 'committees' %}" style="color: rgb(86, 25, 178);">
            Committees</a></li>

</ul>
<div class="navigation1" id="nav1">
    <nav class="nav">
        <ul class="list">
            <li class="nevlist {% if request.path == '/mbaindex/' %} active {% endif %}"> <a
                    class="{% if request.path == '/mbaindex/' %} active {% endif %}" href="{% url 'mbaindex' %}">Home</a>
            </li>
            <li class="nevlist">
                About Us
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_about_ngi' %}"> About NGI</a></li>
                    
                    <!-- <li class="submenuitem"><a href="">Why NGI for MBA / MBA++/MCA</a></li> -->
                    
                </ul>
            </li>
            <li class="nevlist">
                programmers
                <ul class="submenu">
                    <a href="{% url 'mba_mba' %}"><li class="submenuitem">MBA</li></a>
                   <a href="{% url 'mbapp' %}"><li class="submenuitem">MBA++</li></a>
                   <a href="{% url 'mca' %}"><li class="submenuitem">MCA</li></a>
                </ul>

            </li>

            </li>

            <li class="nevlist {% if request.path == '/elibrary/' %} active {% endif %}"><a href="{% url 'mba_awardss' %}"> Awardss</a></li>
            <li class="nevlist {% if request.path == '/admission/' %} active {% endif %}">Training @ NGI
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_training' %}">Training Framework
                        </a></li>
                    <li class="submenuitem"><a href="">Internships</a></li>
                    <li class="submenuitem"><a href="">Certification</a></li>
                    <li class="submenuitem"><a href="">Academic Excellence
                        </a></li>
                </ul>

            </li>
            <li class="nevlist {% if request.path == '/mba_placement/' %} active {% endif %}">
                Placement
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_placement' %}">Recruters</a></li>
                </ul>
            </li>


            <li class="nevlist {% if request.path == '/Activity/' %} active {% endif %}">
                student LIFE
                <ul class="submenu">
                    <li class="submenuitem"><a href="{% url 'mba_Infrastucture' %}">Infrastructure</a></li>
                    <li class="submenuitem"><a href="">Sports Activity</a></li>
                    <li class="submenuitem"><a  href="{% static 'All-Committees.pdf'%}">Committee</a></li>
                </UL>

            </li>
            <li class="nevlist "><a href="{% url 'mba_contact' %}"
                    class="link {% if request.path == '/nss/' %} active {% endif %}">Contact</a></li>
        </ul>
    </nav>
</div>