{% load static %}
<div class="menu">
    <div class="menu_top" style="width: 100%; position:fixed; top:0px; height:30px;  background-color: brown; " ></div>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav">
            <span class="t1"></span>
            <span class="t1"></span>
            <span class="t1"></span>
        </div>
    </button>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav1" id="navbtn2">
            &#x2716;
        </div>
    </button>
</div>
<div class="navigation1" id="nav1">
    <nav class="nav">
        <ul class="list">
            <li class="nevlist {% if request.path == '/pharmindex/' %} active {% endif %}"> <a
                    class="{% if request.path == '/pharmindex/' %} active {% endif %}" href="{% url 'pharmindex' %}"><i
                        class="fa fa-home" style="font-size:20px"></i>&nbsp;Home</a>
            </li>
            <li class="nevlist"> <i class="fa fa-book icon"></i>&nbsp;
                Department
                <ul class="submenu">
                    <li class="submenuitem">D-Pharmacy</li>
                    <li class="submenuitem">B-Pharmacy</li>
                    <li class="submenuitem">M-Pharmacy</li>
                </ul>
            </li>
            <li class="nevlist"><i class="fa fa-calendar icon"></i>&nbsp;
                Academic
                calender
                <ul class="submenu">

                    <li class="submenuitem">D-Pharmacy</li>
                    <li class="submenuitem">B-Pharmacy</li>
                    <li class="submenuitem">M-Pharmacy</li>
            </li>
        </ul>
        </li>

        <li class="nevlist {% if request.path == '/elibrary/' %} active {% endif %}"><a
                class="{% if request.path == '/elibrary/' %} active {% endif %}" href="{% url 'elibrary' %}"><i
                    class="fa fa-book icon"></i> &nbsp;E-library</a>
        </li>
        <li class="nevlist {% if request.path == '/admission/' %} active {% endif %}"><a
                href="{% url 'admission' %}">&nbsp;<i class="fa fa-info icon"> </i>&nbsp;Admission info.</a>
        </li>
        <li class="nevlist {% if request.path == '/englaboratery/' %} active {% endif %}" style="color: rgb(0, 0, 0);">
            <a><i class="fa fa-address-card icon"></i>&nbsp; laboratery</a>
            <ul class="submenu">

                <li class="submenuitem">D-Pharmacy</li>
                <li class="submenuitem">B-Pharmacy</li>
                <li class="submenuitem">M-Pharmacy</li>
            </ul>
        </li>

        <li class="nevlist {% if request.path == '/tpo/' %} active {% endif %}"> <a href="{% url 'tpo' %}"><i
                    class="fa fa-line-chart icon"></i>&nbsp; TPO</a>
        </li>
        <li class="nevlist {% if request.path == '/Activity/' %} active {% endif %}"><a href="{% url 'Activity' %}"><i
                    class="fa fa-child icon"></i>&nbsp; Course Outcome</a>
            <ul class="submenu">

                <li class="submenuitem">D-Pharmacy</li>
                <li class="submenuitem">B-Pharmacy</li>
                <li class="submenuitem">M-Pharmacy</li>
            </ul>
        </li>
        <li class="nevlist "><a href="{% url 'nss' %}" class="link {% if request.path == '/nss/' %} active {% endif %}">
                <i class="icon fa fa-soccer-ball-o"></i>
                &nbsp; NSS/Sports</a></li>
        </ul>
    </nav>
</div>