{% load static %}
<div class="menu">
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav">
            <span class="t1"></span>
            <span class="t1"></span>
            <span class="t1"></span>
        </div>
    </button>
    <button class="b1" id="navbtn" onclick="droupdown()">
        <div class="snav1" id="navbtn2">
            &#x2716;
        </div>
    </button>
</div>
<ul class="container-subnav">

    <li class="subnav"><a href="{% url 'aicte' %}" style="color: rgb(255, 60, 60);">AICTE approvals</a></li>
    <li class="subnav">Mandatory Disclosure</li>
    <li class="subnav">MSBTE Affiliation</li>
    <li class="subnav"><a href="{% url 'committees' %}" style="color: rgb(255, 60, 60);;">
            Committees</a></li>

</ul>
<div class="navigation1" id="nav1">
    <nav class="nav">
        <ul class="list">
            <li class="nevlist {% if request.path == '/polyindex/' %} active {% endif %}"> <a
                    class="{% if request.path == '/polyindex/' %} active {% endif %}" href="{% url 'polyindex' %}"><i
                        class="fa fa-home" style="font-size:20px"></i>&nbsp;Home</a>
            </li>
            <li class="nevlist">
                Department
                <ul class="submenu">
                    <a href="{% url 'poly_mechanical'%}"><li class="submenuitem">Mechanical Engineering</li></a>
                    <a href="{% url 'poly_civil'%}"><li class="submenuitem">Civil Engineering</li></a>
                    <a href="{% url 'poly_electrical'%}"><li class="submenuitem">Electrical Engineering</li></a>
                    <a href="{% url 'poly_cs'%}"><li class="submenuitem"><abbr title="computer Engineering">computer Engineering</abbr></li></a>
                </ul>
            </li>
            <li class="nevlist">
                Academic
                calender
                <ul class="submenu">

                    <li class="submenuitem">Mechanical Engineering</li>
                    <li class="submenuitem">Civil Engineering</li>
                    <li class="submenuitem">Electrical Engineering</li>

                    <li class="submenuitem"><abbr title="computer science/Engineering">C.S.</abbr></li>

            </li>
        </ul>
        </li>

        <li class="nevlist {% if request.path == '/a/' %} active {% endif %}"><a
                class="{% if request.path == '/a/' %} active {% endif %}" href="">E-library</a>
        </li>
        <li class="nevlist {% if request.path == '/a/' %} active {% endif %}"><a
                href="">Admission</a>
        </li>
        <li class="nevlist {% if request.path == '/englaboratery/' %} active {% endif %}" style="color: rgb(0, 0, 0);">
            <a>laboratery</a>
            <ul class="submenu">

                <a href="{% url 'poly_lab_mechanical' %}"><li class="submenuitem">Mechanical Engineering</li></a> 
                <a href="{% url 'poly_lab_civil' %}"><li class="submenuitem">Civil Engineering</li></a>
                <a href="{% url 'poly_lab_electrical' %}"><li class="submenuitem">Electrical Engineering</li></a>

                <a href="{% url 'poly_lab_cs' %}"><li class="submenuitem"><abbr title="computer science/Engineering">C.S.</abbr></li></a>
            </ul>
        </li>

        <li class="nevlist {% if request.path == '/a/' %} active {% endif %}"> <a href=""> TPO</a>
        </li>
        <li class="nevlist {% if request.path == '/a/' %} active {% endif %}"><a href="">Course Outcome</a>
            <ul class="submenu">

                <li class="submenuitem">Mechanical Engineering</li>
                    <li class="submenuitem">Civil Engineering</li>
                    <li class="submenuitem">Electrical Engineering</li>
                    <li class="submenuitem"><abbr title="computer science/Engineering">C.S.</abbr></li>
            </ul>
        </li>
        <li class="nevlist "><a href="" class="link {% if request.path == '/a/' %} active {% endif %}">
                 NSS/Sports</a></li>
        </ul>
    </nav>
</div>