<table class="schedule_table" border="2"> 
    <tr class="row" >
        <th>Times/Day</th>
        <th>Mon.</th>
        <th>Tue.</th>
        <th>Wed.</th>
        <th>Thu.</th>
        <th>Fri.</th>
        <th>Sat.</th>
    </tr>
    <tr class="row" >
        <th>09:00 - 10:00</th>
        <th>CG</th>
        <th>M-III Tutorial</th>
        <th>CG</th>
        <th>DSA</th>
        <th>M-III</th>
        <th rowspan="2">SI-PBL,S2-PBL,S3-PBL,S4-PBL</th>
    </tr>
    <tr class="row" >
        <th>10:00 - 11:00</th>
        <th>FAIML</th>
        <th>M-III</th>
        <th>DBMS</th>
        <th>M-III</th>
        <th>DBMS</th>
       
    </tr>
    <tr class="row" >
        <th>11:00 - 11:15</th>
        <th colspan="6">RECESS</th>
       
    </tr>
    <tr class="row" >
        <th>11:15 - 12:15</th>
        <th rowspan="2">S1-PBL,S2-OSL,S3-DBMS,S4-CGL</th>
        <th rowspan="2">S1-OSL,S2-PBL,S3-CGL,S4-DBMS</th>
        <th rowspan="2">S1-DBMS,S2-CGL,S3-PBL,S4-OSL</th>
        <th rowspan="2">S1-PBL,S2-PBL,S3-PBL,S4-PBL</th>
        <th rowspan="2">S1-CGL,S2-DBMS,S3-OSL,S4-S4-PBL</th>
        <th rowspan="2">S1-PBL,S2-PBL,S3-PBL,P4-PBL</th>
    </tr>
    <tr class="row" >
        <th>12:15 - 01:15</th>
       
    </tr>
    <tr >
        <th>01:15 - 01:45</th>
        <th colspan="6">RECESS</th>
        
    </tr>
    <tr class="row" >
        <th>01:45 - 02:45</th>
        <th>OS</th>
        <th>OS</th>
        <th>OS</th>
        <th>FAIML</th>
        <th>CG</th>
        <th rowspan="2">S1-PBL,S2-PBL,S3-PBL,P4-PBL</th>
    </tr>
    <tr class="row" >
        <th>2:45 - 3:45 </th>
        <th>DBMS</th>
        <th>CG</th>
        <th>FAIML</th>
        <th>M-III</th>
        <th>FAIML</th>
        
    </tr>
    <tr class="row" >
        <th>3:45 - 4:45</th>
        <th>CG</th>
        <th>SE</th>
        <th>CN</th>
        <th>SE</th>
        <th>OOP</th>
        <th>SE/CN</th>
    </tr>
</table>
